@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');
:root {
    --main-header: #FFF2F8;
    --footer: #0571D3;
    --mens-main:#6daadf;
    --border: #05559E;
    --footer-txt: #FFFFFF;
    --home: #FFF3B1;
    --womens: #FFC3E0;
    --mens: #E3F2FF;
    --btn-background: rgba(5, 113, 211, 0.8);
    --text-block: rgba(255, 255, 255, 0.9);
    --shadow:gray;
    --shop-txt: #093F70;
    --impact: #FFCED4;
    --overlay: rgba(9,63,112,0.4);
}
/*Structure*/
body {
  font-family: "Galindo", sans-serif;
  background:pink;
  margin:0px;
  padding:0px;
}
.hidden {
  display: none;
}

/*IMAGE*/
img {
  max-width: 100%;
}

@media only screen and (min-width:768px) {
  .columns {
    display: flex;
  }
  .one {
    flex:1;
  }
  .two {
    flex:2;
  }
  .three {
    flex:3;
  }
}