#addItemForm {
    color:var(--shop-txt);
}

#addItemForm p label {
    width: 120px;
    display: block;
}
#addItemForm p {
    display: flex;
}
#addItemForm p input {
    width:200px;
}

#img-prev-section img {
    max-width: 200px;
}

/*button*/
#add-feature-btn {
    max-height: 22px;
}